@font-face {
  font-family: 'dock_51';
  src: url('../Assets/fonts/Dock51.woff2') format('woff2'),
       url('../Assets/fonts/Dock51.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

#canvas {
  border: 1px black dotted
}
